<div class="w3-card">
<ul id="bk-list" class="bk-list clearfix ">
  <li > <div class="bk-book book-1 bk-bookdefault"  [ngStyle]="{'background': '#fff url(' + cover + ') no-repeat 0 0'}" [style.background-size]="cover">
    <div class="bk-front">
      <div class="bk-cover-back"></div>
      <div class="bk-cover" [ngStyle]="{'background': '#fff url(' + cover + ') no-repeat 0 0'}" [style.background-size]="cover">

      </div>
    </div>

    <div class="bk-left">
      <h2>
        <span>{{livre.title}} -</span>
      </h2>
    </div>
    <div class="bk-top"></div>
    <div class="bk-bottom"></div>
  </div>
  <div class="bk-info">
    kjhkj
</div></li>

</ul>
</div>
